{% extends "skel" %}
{% block nosnippet %}{# disable the <meta name="robots" content="nosnippet"> tag #}{% endblock %}
{% block title %}::<​About>{% endblock %}
{% block body_attrs %}class="about"{% endblock %}
{% block content %}

<h1 class="fish-head">about::<turbofish>myalpine.live</turbofish>()</h1>

<div class="fish-body">
    <p>
        A personal website going through a <a href="https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/">Cloudflare tunnel</a>
        to a self-hosted Alpine linux server running some stuff. Code was forked from <a href="https://turbo.fish/">turbo.fish</a>, go check it out!
    </p>

    <strong>Services:</strong>
    <table>
        <tr/>
        <tr>
            <td>– Music server: </td>
            <td><a href="https://musikcube.myalpine.live">musikcube</a></td>
        </tr>
        <tr>
            <td>– Music sharing: </td>
            <td><a href="https://slskd.myalpine.live">slskd</a></td>
            <td>(Cloudflare Access-secured)</td>
        </tr>
        <tr>
            <td>– Other sharing: </td>
            <td><a href="https://qb.myalpine.live">qBittorrent</a></td>
            <td>(Cloudflare Access-secured)</td>
        </tr>
        <tr>
            <td>– File storage: </td>
            <td><a href="https://nextcloud.myalpine.live">Nextcloud</a></td>
        </tr>
        <tr>
            <td>– Documents: </td>
            <td><a href="https://paperless.myalpine.live">paperless-ngx</a></td>
        </tr>
        <tr>
            <td>– Multimedia: </td>
            <td><a href="https://emby.myalpine.live">Emby</a></td>
        </tr>
    </table>

    <strong>Oracle CI VMs:</strong>
    <table>
        <tr/>
        <tr>
            <td>– Alpine testing x86: </td>
            <td><a href="https://vm1.myalpine.live">vm1.myalpine.live</a></td>
            <td>(Cloudflare Access-secured)</td>
        <tr/>
        <tr>
            <td>– Ubuntu ARM <a href="https://github.com/m1k1o/neko">n.eko</a> rooms/LLaMA WebUI:</td>
            <td><a href="https://vm2.myalpine.live">vm2.myalpine.live</a></td>
            <td>(Cloudflare Access-secured)</td>
        <tr/>
    </table>
</div>

<footer>
    <a href="/">::<></a>
    <a href="https://github.com/romner-set/turbo.fish">code.</a>
</footer>
{% endblock %}
